@if (character(); as char) {
  <div class="player-header">
    <img
      [src]="'/img/race/64/' + char.race + '-' + char.gender + '.png'"
      [alt]="'Race ' + char.race"
      width="32"
      height="32"
      class="rounded"
    />
    <img
      [src]="'/img/class/64/' + char.class + '.png'"
      [alt]="'Class ' + char.class"
      width="32"
      height="32"
      class="rounded"
    />
    <h2 class="player-name" [class]="faction()">{{ char.name }}</h2>
    <span class="player-level">{{ char.level }}</span>
    @if (char.guildName) {
      <span class="player-guild">&lt;{{ char.guildName }}&gt;</span>
    }
    @if (achievementPoints(); as pts) {
      <span class="player-points">{{ pts }}</span>
    }
  </div>
}
