<div class="achievement-container mx-auto">
  <fieldset class="filter-bar" role="radiogroup" aria-label="Filter achievements">
    @for (option of filterOptions; track option.value) {
      <button
        class="filter-btn"
        [class.active]="filter() === option.value"
        [attr.aria-pressed]="filter() === option.value"
        (click)="filter.set(option.value)"
      >
        {{ option.label }}
      </button>
    }
  </fieldset>

  <div class="achievement-list-container" #listContainer>
    @for (ach of filteredAchievements(); track ach.ID) {
      <a
        [href]="'https://wowgaming.altervista.org/aowow/?achievement=' + ach.ID"
        target="_blank"
        rel="noopener noreferrer"
        class="achievement-link"
      >
        <div class="achievement" [class.completed]="ach.completed" role="listitem">
          <img
            class="achievement-icon"
            [src]="'https://wow.zamimg.com/images/wow/icons/large/' + ach.icon + '.jpg'"
            [alt]="ach.Name + ' icon'"
            width="50"
            height="50"
            loading="lazy"
          />
          <div class="achievement-content">
            <span class="achievement-name">{{ ach.Name }}</span>
            <span class="achievement-description">{{ ach.Description }}</span>
          </div>
          <div class="achievement-right">
            <span class="achievement-points" [class.achievement-points-0]="ach.Points === 0">{{
              ach.Points
            }}</span>
          </div>
        </div>
      </a>
    }
  </div>
</div>
