/* Mobile sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -340px;
  width: 340px;
  height: 100%;
  background: #262626;
  z-index: 10;
  overflow-y: auto;
  padding: 20px;
  border-right: 1px solid #fff;
  transition: left 0.2s ease-in-out;
}

.sidebar.show {
  left: 0;
}

.navigation-toggle {
  position: fixed;
  right: 10px;
  top: 27px;
  z-index: 20;
  background: #361409;
  color: #ffd100;
  font-size: 25px;
  padding: 4px 12px;
  border: 1px solid #ffd100;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.navigation-toggle:hover,
.navigation-toggle:focus-visible {
  background: #4a1c0e;
  outline: none;
}
